/* ====== Global Layout ====== */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2em;
}

/* ====== Links ====== */
a {
  word-break: break-word;
  white-space: normal;
  text-decoration: none;
}

p a {
  display: inline !important;
  color: #0366d6;
}

/* ====== Header & Footer ====== */
.site-header {
  background-color: #e6f2fb;
  border-bottom: 1px solid #cce0f5;
  padding: 1.5rem;
  font-weight: bold;
}

.site-footer {
  background-color: #e6f2fb;
  border-top: 1px solid #cce0f5;
  padding: 1rem;
  text-al
}